<h3 *ngIf='languages.length == 0'>Loading...</h3>
<div class="container" *ngIf='languages.length > 0'>
  <h3>The Employee Form</h3>
  <form #form="ngForm" (submit)="submitForm()" novalidate>
    <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
      <label class="control-label">First Name</label>
      <input #firstName="ngModel" pattern="...+" required type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName">
      <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger" role="alert">
        First Name is required
      </div>
    </div>
    <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
      <label>Last Name</label>
      <input #lastName="ngModel" pattern="...+" r2equired type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName">
      <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger" role="alert">
        Last Name is required
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time" id="fteId" [(ngModel)]="model.isFullTime"> Full Time Employee
      </label>
    </div>

    <label>Payment Type</label>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" checked [(ngModel)]="model.paymentType"> W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="1099" [(ngModel)]="model.paymentType"> 1099
      </label>
    </div>

    <div class="form-group" [class.has-error]='hasPrimaryLanguageError'>
      <label class="control-label">Primary Language</label>
      <select #primaryLanguage class="form-control" name='primaryLanguage' (blur)="validatePrimaryLanguage(primaryLanguage.value)"
        (change)="validatePrimaryLanguage(primaryLanguage.value)" [(ngModel)]="model.primaryLanguage">
        <option value="default">Select a language</option>
        <option *ngFor="let lang of languages">
          {{ lang }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Date Hired</label>
      <input type="date" class="form-control" required name="date-hired" [(ngModel)]="model.dateHired">
    </div>

    <div class="form-group">
      <label>Color</label>
      <input type="color" class="form-control" name="color" ngModel>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Ok</button>
  </form>

  <br>
  Debug info:
  <br>
  Model: {{ model | json}}
  <br>
  Angular: {{ form.value | json}}
</div>
