<div class="grid-container">
  <h1 class="mat-h1">Welcome to AFC!</h1>
  <h5>Angular Forms Course application</h5>
  <p>The course is very outdated and the application is suffering from that.</p>
  <br>

  <br>
  <h4>Employee form component</h4>
  <p>Is a simple employee registration form, written using template-driven angular forms. <br>Needs the node server
    running to work.</p>
  <br>

  <h4>Bootstrap form component</h4>
  <p>Contains some examples of handy things you can add with Bootstrap</p>
</div>
